<br>
<!-- <div *ngIf='!display'> -->
<div>
<form style="text-align-last: center;">


    <p-dropdown [disabled]="schoolId == undefined" [(ngModel)]="selectedGroup" name="selectedGroup" filter="true" filterBy="nameGroup"
    [options]="groupService.ListGroupPerSY" placeholder="בחר קבוצה" appendTo="body" [style]="{ width: '30%' }"
    emptyFilterMessage="לא נמצאו נתונים העונים על החיפוש" emptyMessage="אין נתונים קיימים"
    (ngModelChange)="onGroupChange($event)">
    <ng-template let-item pTemplate="selectedItem">
        
      {{item.group.nameGroup}}, {{item.group.ageGroupName}}
    </ng-template>
    <ng-template let-item pTemplate="item">
      {{item.group.nameGroup}}, {{item.group.ageGroupName}}
    </ng-template>
  </p-dropdown>
    <h4 style="color:cornflowerblue;">בחר תלמידה</h4>
    <p-multiSelect [options]="ListStudentPerGroup"  name="dd" [(ngModel)]="studend" filter="true" placeholder="בחר תלמידה" >
      <ng-template let-item pTemplate="selectedItem">
        <span style="vertical-align:middle; margin-left: .5em">{{item.student.firstName}}  {{item.student.lastName}} </span>
    </ng-template>
    </p-multiSelect>

  
   <br>
   <h4 style="color:cornflowerblue;">בחר טווח תאריכים</h4> 
 <br> 
 <ngb-datepicker (dateSelect)="onDateSelection($event)" class="hebrew rtl" #dp [displayMonths]="1" [firstDayOfWeek]="7" 
[dayTemplate]="dt" [dayTemplateData]="dayTemplateData">
</ngb-datepicker> 

<ng-template #dt let-date let-data="data" let-selected="selected" let-currentMonth="currentMonth">
<div class="hebrew-day" [class.outside]="date.month !== currentMonth" [class.selected]="selected">

  <div class="hebrew-num">
    <span class="custom-day"
     [class.range]="isRange(date)"
      [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
      (mouseleave)="hoveredDate = null">
      {{ i18n.getDayNumerals(date) }}
      <div class="gregorian-num">{{ data.gregorian.day + '/' + (data.gregorian.month) }}</div>
    </span></div>
</div>
</ng-template>
<br>
<br>
<p-button  [disabled]="(selectedGroup==undefined&&studend==undefined)||fromDate==undefined||toDate==undefined" (click)="ok()" >אישור</p-button>




</form>


</div>
