<!-- <app-login></app-login> -->

<router-outlet></router-outlet>

<!-- <div class="container-fluid" style="padding-top:10px">
    <fieldset >
        <legend> פרטי של"צ</legend></fieldset>
    <div class="row form-group">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                <label class="required pull-left">שעות מומלצות</label>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                <input class="form-control" name="recommendationHours"
                    disabled />
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                <label class="required pull-left">שעות החלטה/גז"ד</label>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                <input class="form-control" name="recommendationHours"
                    disabled />

            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                <label class="required pull-left">אישור תכנית</label>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">


            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                <label class="required pull-left">סיום תכנית</label>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">


            </div>
        </div>
    </div>
    <div class="row form-group">

        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                <label class="required pull-left"> שעות לתוכנית</label>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                <input class="form-control" name="sumHours"  disabled />
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                <label class="required pull-left"> שעות שבוצעו</label>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                <input class="form-control" name="sumDoneHours"  disabled />
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                <label class="required pull-left"> שעות שנותרו</label>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                <input class="form-control" name="remainingHours"  disabled />
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                <label class="required pull-left"> הערות</label>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                <input class="form-control" name="comment" disabled />
            </div>
        </div>
    </div>
    <fieldset>
        <legend> תוכניות של"צ</legend>
        <p-table #dt ></p-table>
    </fieldset>
</div> -->
