<!-- תצוגת הטבלה -->
<div class="card row" *ngIf="VisibleTable==true">
  <h1 style="text-align: center"> רשימת התלמידות המשוייכות למטלה {{TaskExsistService.CurrentTaskExsist.name}}</h1>
  <div style="text-align-last: center">
    <p-table #tb [value]="TaskToStudentService.listTaskToStudent" dir="rtl" [filterDelay]="0" [scrollable]="true"
      scrollHeight="100vh" [globalFilterFields]="[
        'studentName',
        'dateNeedSubmitStr',
        'dateSubmit',
        'grade',
        'finalScore',
        'amountReceived',
        'receivePaymentName',
        'paymentStatusName',
        'paymentMethodName',
        'administratorApproval',
        'comment'
      ]">
      <ng-template pTemplate="caption">
        <div style="margin-left: 72%">
          <button pButton label="הוספת שיוך" (click)="AddTask()"></button>
          <button pButton label="חזור" (click)="GenericFunctionService.GoBackToLastPage()"></button>
        </div>
        <p-button
        pRipple
        type="button"
        label=" יצוא לקובץ EXCEL"
        (click)="exportExcel()"
        icon="pi pi-file-excel"
        class=" p-button-outline p-button-success"></p-button>
        <button type="button" pButton pRipple label="PDF" icon="pi pi-file-pdf" (click)="exportPdf()"
          class="p-button-warning p-mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
          
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="tb.filterGlobal($event.target.value, 'contains')"
            placeholder="חיפוש" />
        </span>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="studentName">
            תלמידה <p-sortIcon field="studentName"></p-sortIcon>
          </th>
          <th pSortableColumn="dateNeedSubmitStr">
            תאריך ומועד הגשה <p-sortIcon field="dateNeedSubmitStr"></p-sortIcon>
          </th>
          <th pSortableColumn="dateSubmit">
            תאריך הגשה בפועל <p-sortIcon field="dateSubmit"></p-sortIcon>
          </th>
          <th pSortableColumn="grade">
            ציון <p-sortIcon field="grade"></p-sortIcon>
          </th>
          <th pSortableColumn="finalScore">
            ציון סופי<p-sortIcon field="finalScore"></p-sortIcon>
          </th>
          <th pSortableColumn="amountReceived">
            סכום שהתקבל<p-sortIcon field="amountReceived"></p-sortIcon>
          </th>
          <th pSortableColumn="receivePaymentName">
            מקבל התשלום <p-sortIcon field="receivePaymentName"></p-sortIcon>
          </th>
          <th pSortableColumn="paymentStatusName">
            סטטוס תשלום <p-sortIcon field="paymentStatusName"></p-sortIcon>
          </th>
          <th pSortableColumn="paymentMethodName">
            צורת התשלום <p-sortIcon field="paymentMethodName"></p-sortIcon>
          </th>

          <th pSortableColumn="administratorApproval">
            אושר ע"י מנהל? <p-sortIcon field="administratorApproval"></p-sortIcon>
          </th>
          <th pSortableColumn="comment">
            הערה <p-sortIcon field="comment"></p-sortIcon>
          </th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-task>
        <tr *ngIf="task.isActiveTask==true">
         
          <td>{{ task.studentName }}</td>
          <td>{{ task.dateNeedSubmitStr }}, {{ task.dateNeedSubmit | date: "dd/MM/yyyy" }}</td>
          <td>{{ task.dateSubmit | date: "dd/MM/yyyy"}}</td>
          <td>{{ task.grade }}</td>
          <td>{{ task.finalScore }}</td>
          <td>{{ task.amountReceived }}</td>
          <td>{{ task.receivePaymentName }}</td>
          <td>{{ task.paymentStatusName }}</td>
          <td>{{ task.paymentMethodName }}</td>
          <td>
            <i *ngIf="task.administratorApproval==true" class="pi pi-check"></i>
            <i *ngIf="task.administratorApproval!=true" class="pi pi-times"></i>
          </td>
          <td>{{ task.comment }}</td>
          <td style="text-align: center">
            <button pButton pRipple type="button" icon="pi pi-pencil" tooltipPosition="top" pTooltip="עריכה"
              (click)="EditDetailsTask(task)" class="p-button-rounded p-button-text"></button>
            <button pButton pRipple type="button" icon="pi pi-bars" tooltipPosition="top"
              pTooltip="כל נסיונות המענה למטלה זו של {{task.studentName}}" (click)="OpenTaskToStudentSpecific(task)"
              class="p-button-rounded p-button-text"></button>
            <button pButton pRipple type="button" icon="pi pi-trash" tooltipPosition="top" pTooltip="מחיקה"
              (click)="confirmDeleteFile(task)" class="p-button-rounded p-button-text"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<!-- עריכת והוספת שיוך מטלה -->
<p-dialog header="פרטי מטלה" [(visible)]="displayModal" [modal]="true" [style]="{ width: '30vw' }" [draggable]="false"
  [resizable]="false" class="p-rtl" dir="rtl">

  <form #form="ngForm" id="form" name="form" dir="rtl">
    <label>תלמידה </label>
    <p-dropdown appendTo="body" [(ngModel)]="Student" filter="true" filterBy="tz,lastName,firstName"
      [options]="studentService.ListStudentPerSY" placeholder="בחר תלמידה" [style]="{ width: '100%' }" name="Student">
      <ng-template let-item pTemplate="selectedItem" filter="true" emptyFilterMessage="לא נמצאו נתונים העונים על החיפוש" emptyMessage="אין נתונים קיימים">
        {{ item.lastName }} {{ item.firstName }}, {{ item.tz }}
      </ng-template>
      <ng-template let-item pTemplate="item">
        {{ item.lastName }} {{ item.firstName }}, {{ item.tz }}
      </ng-template>
    </p-dropdown>

    <!-- <p-multiSelect  filter="true" appendTo="body" [style]="{ width: '100%' }" [showToggleAll]="false" name="Student" [options]="studentService.ListStudent" [(ngModel)]="Student" placeholder="בחר תלמידה" >
      <ng-template let-item pTemplate="selectedItem">
        {{ selectedItem.lastName }} {{ selectedItem.firstName }}, {{ selectedItem.tz }}
      </ng-template>
      <ng-template let-item pTemplate="item">
        {{ item.lastName }} {{ item.firstName }}, {{ item.tz }}
      </ng-template>
  </p-multiSelect> -->


    <label> מועד ותאריך הגשה</label>
    <p-dropdown appendTo="body" [(ngModel)]="dateNeedSubmit" filter="true" filterBy="moed,date"
      [options]="TaskExsistService.SubmitedDate" placeholder="מועד הגשה" [style]="{ width: '100%' }"
      name="dateNeedSubmit" (onChange)="CheckDateNeedSubmit()" emptyFilterMessage="לא נמצאו נתונים העונים על החיפוש" emptyMessage="אין נתונים קיימים">
      <ng-template let-item pTemplate="selectedItem">
        {{ item.moed }}, {{ item.date | date: "dd/MM/yyyy" }}
      </ng-template>
      <ng-template let-item pTemplate="item">
        {{ item.moed }}, {{ item.date | date: "dd/MM/yyyy" }}
      </ng-template>
    </p-dropdown>


    <!-- בחירת תאריך הגשה בעת לחיצה על אחר -->
    <div *ngIf="DisplayDate">
      <label for="navigators">תאריך הגשה</label><br />
      <input class="Input" #dateNeed1="ngModel" id="dateNeed1" name="dateNeed1" type="date" pInputText
        [(ngModel)]="dateNeed" />
    </div>

    <!-- הגשה בפועל -->
    <div>
      <label for="navigators">תאריך הגשה בפועל</label><br />
      <input class="Input" #dateSubmit1="ngModel" id="dateSubmit1" name="dateSubmit1" type="date" pInputText
        [(ngModel)]="dateSubmit" />
    </div>

    <br>
    <div *ngIf="(taskService.CurrentTask.typeOfTaskCalculationId==2 && CurrentTask.appScoreStudentPerQuestionsOfTasks && CurrentTask.appScoreStudentPerQuestionsOfTasks.length>0)">
      <p-fieldset legend="השאלות " [toggleable]="true">
        <!-- <div *ngFor="let item of CurrentTask.appScoreStudentPerQuestionsOfTasks; let i=index"> -->
        <p-table #tb [value]="CurrentTask.appScoreStudentPerQuestionsOfTasks" dir="rtl" [filterDelay]="0">
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="number">
                מספר שאלה: <p-sortIcon field="number"></p-sortIcon>
              </th>
              <th pSortableColumn="name">
                שם שאלה: <p-sortIcon field="name"></p-sortIcon>
              </th>
              <!-- <th pSortableColumn="percent">
                אחוז שאלה: <p-sortIcon field="percent"></p-sortIcon>
              </th> -->
              <th pSortableColumn="score">
                ציון: <p-sortIcon field="score"></p-sortIcon>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-task>
            <tr>

              <td> {{ task.number }}</td>
              <td>{{ task.name }}</td>
              <!-- <td>{{ task.percent }}</td> -->


              <td pEditableColumn>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input pInputText type="text" #score name="score" style="width: -webkit-fill-available;"
                      [(ngModel)]="task.score">
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{task.score}}
                  </ng-template>
                </p-cellEditor>
              </td>
            </tr>
          </ng-template>
        </p-table>

        <br>
        <!-- </div> -->
      </p-fieldset>
    </div>

    <label>ציון</label>
    <input class="Input" type="number" pInputText pattern="[0-9]|[0-9][0-9]{3}" min="0" [(ngModel)]="CurrentTask.grade"
      name="grade" [disabled]="CurrentTask.isEdit==false" />
    <br>
    <label> ציון סופי</label>
    <input class="Input" type="number" pInputText pattern="[0-9]|[0-9][0-9]{3}" min="0"
      [(ngModel)]="CurrentTask.finalScore" name="finalScore" [disabled]="schoolService.IsCustomer!=true" />
    <br>

    <label>סכום שהתקבל</label>
    <input class="Input" type="number" pInputText min="0" [(ngModel)]="CurrentTask.amountReceived"
      name="amountReceived" />

    <label>מקבל התשלום </label>
    <p-dropdown appendTo="body" [(ngModel)]="ReceivePayment" filter="true" filterBy="tz,lastName,firstName"
      [options]="userService.ListUserPerSY" placeholder="בחר מורה" [style]="{ width: '100%' }" name="receivePayment1">
      <ng-template let-item pTemplate="selectedItem" emptyFilterMessage="לא נמצאו נתונים העונים על החיפוש" emptyMessage="אין נתונים קיימים">
        {{ item.lastName }} {{ item.firstName }}, {{ item.tz }}
      </ng-template>
      <ng-template let-item pTemplate="item">
        {{ item.lastName }} {{ item.firstName }}, {{ item.tz }}
      </ng-template>
    </p-dropdown>


    <label class="w3-text-grey">סטטוס תשלום </label>
    <p-dropdown dir="rtl" name="Status" class="myInput" [options]="schoolService.PaymentStatus" optionLabel="name"
      placeholder="בחר סטטוס" [(ngModel)]="Status" [style]="{ width: '100%' }" filter="true">
    </p-dropdown>

    <label class="w3-text-grey">צורת התשלום </label>
    <p-dropdown dir="rtl" name="PaymentMethod1" class="myInput" [options]="schoolService.PaymentMethod"
      optionLabel="name" placeholder="בחר צורת תשלום" [(ngModel)]="PaymentMethod1" [style]="{ width: '100%' }"
      filter="true" emptyFilterMessage="לא נמצאו נתונים העונים על החיפוש" emptyMessage="אין נתונים קיימים"
      >
    </p-dropdown>

    <!-- אושר ע"י מנהל? -->
    <br>
    <div style="display:inline-grid">
      <label>אושר ע"י מנהל?</label>
      <p-checkbox name="administratorApproval" [(ngModel)]="CurrentTask.administratorApproval" binary="true"
        inputId="binary"></p-checkbox>
    </div>
    <br>

    <label>הערה</label>
    <input class="Input" type="text" pInputText [(ngModel)]="CurrentTask.comment" name="comment" />
    <br>
    <br>
    <button style="width: 100%;" pButton icon="pi pi-save" name="save" label="שמור"
      (click)="form.valid != true ? (flagInvalid = true) : checkIfStudentExsist()"></button>

  </form>
</p-dialog>

<!-- תצוגת המטלות של תלמידה מסויימת -->
<div class="card row" *ngIf="VisibleTable==false">
  <h1 style="text-align: center">שיוכים למטלה {{TaskExsistService.CurrentTaskExsist.name}} של התלמידה
    {{listTaskToStudentSpecific[0].studentName}} </h1>
  <div style="text-align-last: center">
    <p-table #tb [value]="listTaskToStudentSpecific" dir="rtl" [filterDelay]="0" [globalFilterFields]="[
        'studentName',
        'dateNeedSubmitStr',
        'dateSubmit',
        'grade',
        'finalScore',
        'amountReceived',
        'receivePaymentName',
        'paymentStatusName',
        'paymentMethodName',
        'administratorApproval',
        'comment'
      ]">
      <ng-template pTemplate="caption">

        <button style="margin-left: 72%" pButton label="חזור" (click)="VisibleTable=true"></button>

        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="tb.filterGlobal($event.target.value, 'contains')"
            placeholder="חיפוש" />
        </span>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="studentName">
            תלמידה <p-sortIcon field="studentName"></p-sortIcon>
          </th>
          <th pSortableColumn="dateNeedSubmitStr">
            תאריך ומועד הגשה <p-sortIcon field="dateNeedSubmitStr"></p-sortIcon>
          </th>
          <th pSortableColumn="dateSubmit">
            תאריך הגשה בפועל <p-sortIcon field="dateSubmit"></p-sortIcon>
          </th>
          <th pSortableColumn="grade">
            ציון <p-sortIcon field="grade"></p-sortIcon>
          </th>
          <th pSortableColumn="finalScore">
            ציון סופי<p-sortIcon field="finalScore"></p-sortIcon>
          </th>
          <th pSortableColumn="amountReceived">
            סכום שהתקבל<p-sortIcon field="amountReceived"></p-sortIcon>
          </th>
          <th pSortableColumn="receivePaymentName">
            מקבל התשלום <p-sortIcon field="receivePaymentName"></p-sortIcon>
          </th>
          <th pSortableColumn="paymentStatusName">
            סטטוס תשלום <p-sortIcon field="paymentStatusName"></p-sortIcon>
          </th>
          <th pSortableColumn="paymentMethodName">
            צורת התשלום <p-sortIcon field="paymentMethodName"></p-sortIcon>
          </th>

          <th pSortableColumn="administratorApproval">
            אושר ע"י מנהל? <p-sortIcon field="administratorApproval"></p-sortIcon>
          </th>
          <th pSortableColumn="comment">
            הערה <p-sortIcon field="comment"></p-sortIcon>
          </th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-task>
        <tr [ngStyle]="{'border' :task.isActiveTask == true ? 'outset': 'black'}">


          <td>{{ task.studentName }}</td>
          <td>{{ task.dateNeedSubmitStr }}</td>
          <td>{{ task.dateSubmit | date: "dd/MM/yyyy"}}</td>
          <td>{{ task.grade }}</td>
          <td>{{ task.finalScore }}</td>

          <td>{{ task.amountReceived }}</td>
          <td>{{ task.receivePaymentName }}</td>
          <td>{{ task.paymentStatusName }}</td>
          <td>{{ task.paymentMethodName }}</td>
          <td>
            <i *ngIf="task.administratorApproval==true" class="pi pi-check"></i>
            <i *ngIf="task.administratorApproval!=true" class="pi pi-times"></i>
          </td>
          <td>{{ task.comment }}</td>
          <td style="text-align: center">
            <button pButton pRipple type="button" icon="pi pi-pencil" tooltipPosition="top" pTooltip="עריכה"
              (click)="EditDetailsTask(task)" class="p-button-rounded p-button-text"></button>
            <button pButton pRipple type="button" icon="pi pi-trash" tooltipPosition="top" pTooltip="מחיקה"
              (click)="confirmDeleteFile(task)" class="p-button-rounded p-button-text"></button>
            <button pButton *ngIf="task.isActiveTask==false" pRipple type="button" icon="pi pi-check-square"
              tooltipPosition="top" pTooltip="הפיכת המטלה לפעילה" (click)="ChangeActiveTask(true,task)"
              class="p-button-rounded p-button-text"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>



<div style="text-align: center">
  <p-toast position="top-center" key="tc"></p-toast>
</div>
<p-toast position="top-center"></p-toast>

<p-confirmDialog key="myDialog" [style]="{ width: '40%' }" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text">
</p-confirmDialog>

<p-confirmDialog key="myDialog2" [style]="{ width: '40%' }" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text">
</p-confirmDialog>